workflows/job-discovery.json
{
    "name": "CareerPilot AI: Final Pro Sync",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hour",
                            "interval": 6
                        }
                    ]
                }
            },
            "name": "Cron Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                100,
                300
            ]
        },
        {
            "parameters": {
                "url": "http://localhost:3000/api/preferences",
                "options": {}
            },
            "name": "Get Preference",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                300,
                300
            ]
        },
        {
            "parameters": {
                "url": "=https://api.scrapingdog.com/linkedinjobs?api_key=69708c74371371de6b711c06&field={{ $item(0).$node[\"Get Preference\"].json[\"profile\"][\"targetRole\"].replace(/ /g, \"+\") }}",
                "options": {}
            },
            "name": "LinkedIn Scraper",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "model": "models/gemini-1.5-flash",
                "resource": "image",
                "imageUrls": "={{ $node[\"LinkedIn Scraper\"].json[\"company_logo_url\"] }}",
                "prompt": "=Analyze the company logo and office vibe. Output 3 #culture tags.",
                "options": {}
            },
            "name": "Analyze an image",
            "type": "n8n-nodes-base.googleGemini",
            "typeVersion": 1,
            "position": [
                700,
                450
            ]
        },
        {
            "parameters": {
                "model": "models/gemini-1.5-flash",
                "prompt": "=Analyze this job against my profile as an Expert {{ $item(0).$node[\"Get Preference\"].json[\"profile\"][\"targetRole\"] }}.\n\nMY PROFILE:\nTarget Role: {{ $item(0).$node[\"Get Preference\"].json[\"profile\"][\"targetRole\"] }}\nCore Skills: {{ $item(0).$node[\"Get Preference\"].json[\"profile\"][\"skills\"] }}\n\nJOB DESCRIPTION:\n{{ $node[\"LinkedIn Scraper\"].json[\"job_position\"] }} at {{ $node[\"LinkedIn Scraper\"].json[\"company_name\"] }}\n\nINSTRUCTIONS:\n1. Provide a score (1-10).\n2. Output ONLY a raw JSON: {\"score\": 8, \"reasoning_summary\": \"...\"}",
                "options": {}
            },
            "name": "Message a model",
            "type": "n8n-nodes-base.googleGemini",
            "typeVersion": 1,
            "position": [
                700,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "number": [
                        {
                            "value1": "={{ $node[\"Message a model\"].json[\"score\"] }}",
                            "operation": "largerEqual",
                            "value2": "={{ $item(0).$node[\"Get Preference\"].json[\"filters\"][\"minScore\"] || 7 }}"
                        }
                    ]
                }
            },
            "name": "Score >= Threshold?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                900,
                300
            ]
        },
        {
            "parameters": {
                "model": "models/gemini-1.5-flash",
                "prompt": "=Job: {{ $node[\"LinkedIn Scraper\"].json[\"job_position\"] }} at {{ $node[\"LinkedIn Scraper\"].json[\"company_name\"] }}\nMy Real Work History: {{ $item(0).$node[\"Get Preference\"].json[\"profile\"][\"workHistory\"] }}\n\nTASK: Tailor my resume based ONLY on my real history. No hallucination. Output raw text.",
                "options": {}
            },
            "name": "Tailor Resume",
            "type": "n8n-nodes-base.googleGemini",
            "typeVersion": 1,
            "position": [
                1100,
                300
            ]
        },
        {
            "parameters": {
                "model": "models/gemini-1.5-flash",
                "prompt": "=Job: {{ $node[\"LinkedIn Scraper\"].json[\"job_position\"] }} at {{ $node[\"LinkedIn Scraper\"].json[\"company_name\"] }}\nMy Name: {{ $item(0).$node[\"Get Preference\"].json[\"profile\"][\"name\"] }}\nMy Real Experience: {{ $item(0).$node[\"Get Preference\"].json[\"profile\"][\"workHistory\"] }}\n\nTASK: Write a short 3-paragraph cover letter based ONLY on my real history. Output raw text.",
                "options": {}
            },
            "name": "Generate Cover Letter",
            "type": "n8n-nodes-base.googleGemini",
            "typeVersion": 1,
            "position": [
                1300,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://localhost:3000/api/jobs",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "title",
                            "value": "={{ $node[\"LinkedIn Scraper\"].json[\"job_position\"] }}"
                        },
                        {
                            "name": "company",
                            "value": "={{ $node[\"LinkedIn Scraper\"].json[\"company_name\"] }}"
                        },
                        {
                            "name": "score",
                            "value": "={{ $node[\"Message a model\"].json[\"score\"] }}"
                        },
                        {
                            "name": "reasoning",
                            "value": "={{ $node[\"Message a model\"].json[\"reasoning_summary\"] }}"
                        },
                        {
                            "name": "url",
                            "value": "={{ $node[\"LinkedIn Scraper\"].json[\"job_link\"] }}"
                        },
                        {
                            "name": "tags",
                            "value": "={{ $node[\"Analyze an image\"].json[\"text\"].includes(\"#\") ? $node[\"Analyze an image\"].json[\"text\"].match(/#[\\w]+/g) : [\"#Innovation\"] }}"
                        },
                        {
                            "name": "tailoredResume",
                            "value": "={{ $node[\"Tailor Resume\"].json[\"text\"] }}"
                        },
                        {
                            "name": "coverLetter",
                            "value": "={{ $node[\"Generate Cover Letter\"].json[\"text\"] }}"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Push to Dashboard",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1500,
                300
            ]
        }
    ],
    "connections": {
        "Cron Trigger": {
            "main": [
                [
                    {
                        "node": "Get Preference",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Preference": {
            "main": [
                [
                    {
                        "node": "LinkedIn Scraper",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "LinkedIn Scraper": {
            "main": [
                [
                    {
                        "node": "Analyze an image",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Message a model",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Analyze an image": {
            "main": [
                [
                    {
                        "node": "Message a model",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Message a model": {
            "main": [
                [
                    {
                        "node": "Score >= Threshold?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Score >= Threshold?": {
            "main": [
                [
                    {
                        "node": "Tailor Resume",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Tailor Resume": {
            "main": [
                [
                    {
                        "node": "Generate Cover Letter",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Cover Letter": {
            "main": [
                [
                    {
                        "node": "Push to Dashboard",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}