workflows/job-discovery.template.json
{
    "name": "CareerPilot AI: Job Discovery Workflow",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hour",
                            "interval": 6
                        }
                    ]
                }
            },
            "name": "Cron Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                0,
                0
            ]
        },
        {
            "parameters": {
                "url": "={{$env.CAREER_PILOT_API_URL}}/api/preferences?userId={{$env.CAREER_PILOT_USER_ID}}",
                "authentication": "none",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "X-API-Key",
                            "value": "={{$env.CAREER_PILOT_API_KEY}}"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Get Preference",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                220,
                0
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "https://serpapi.com/search.json",
                "authentication": "none",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "engine",
                            "value": "google_jobs"
                        },
                        {
                            "name": "q",
                            "value": "={{ $node[\"Get Preference\"].json[\"profile\"][\"targetRole\"] || 'AI Engineer' }}"
                        },
                        {
                            "name": "location",
                            "value": "={{ $node[\"Get Preference\"].json[\"filters\"][\"locations\"][0] || 'United States' }}"
                        },
                        {
                            "name": "api_key",
                            "value": "={{$env.SERPAPI_KEY}}"
                        },
                        {
                            "name": "num",
                            "value": "10"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Google Jobs Search",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                440,
                0
            ]
        },
        {
            "parameters": {
                "maxItems": 10,
                "keep": "firstItems"
            },
            "name": "Limit",
            "type": "n8n-nodes-base.limit",
            "typeVersion": 1,
            "position": [
                660,
                0
            ]
        },
        {
            "parameters": {
                "jsCode": "// Extract job details from SerpAPI response\nconst items = [];\nconst jobs = $input.item.json.jobs_results || [];\n\nfor (const job of jobs) {\n  items.push({\n    json: {\n      job_position: job.title,\n      company_name: job.company_name,\n      job_location: job.location,\n      job_description: job.description,\n      job_link: job.apply_link || job.share_link,\n      job_id: job.job_id,\n      company_logo_url: job.thumbnail || null,\n      job_posting_date: job.detected_extensions?.posted_at || null\n    }\n  });\n}\n\nreturn items;"
            },
            "name": "Parse Google Jobs",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                880,
                0
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-exp:generateContent?key={{$env.GEMINI_API_KEY}}",
                "authentication": "none",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ { \"contents\": [ { \"parts\": [ { \"text\": \"Analyze the company logo and office vibe. Output 3 #culture tags.\" } ] } ] } }}",
                "options": {}
            },
            "name": "Analyze Image",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1100,
                150
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-exp:generateContent?key={{$env.GEMINI_API_KEY}}",
                "authentication": "none",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ { \"contents\": [ { \"parts\": [ { \"text\": \"Analyze this job against my profile using a Multi-Strategy Weighted Scoring approach.\\n\\nMY PROFILE:\\nTarget Role: \" + ($node[\"Get Preference\"].json[\"profile\"][\"targetRole\"] || \"AI Engineer\") + \"\\nCore Skills: \" + ($node[\"Get Preference\"].json[\"profile\"][\"skills\"] || \"\") + \"\\nWork History: \" + ($node[\"Get Preference\"].json[\"profile\"][\"workHistory\"] || \"\") + \"\\n\\nJOB POSTING:\\nTitle: \" + ($node[\"Parse Google Jobs\"].json[\"job_position\"] || \"\") + \"\\nCompany: \" + ($node[\"Parse Google Jobs\"].json[\"company_name\"] || \"\") + \"\\nLocation: \" + ($node[\"Parse Google Jobs\"].json[\"job_location\"] || \"\") + \"\\n\\nFULL JOB DESCRIPTION:\\n\" + ($node[\"Parse Google Jobs\"].json[\"job_description\"] || \"Description not available.\") + \"\\n\\nSCORING STRATEGY:\\n1. **Semantic Title Check** (Immediate Rejection Filter):\\n   - Reject if title is completely irrelevant to AI, Engineer, Automation, or Developer.\\n\\nINSTRUCTIONS:\\nOutput ONLY raw JSON:\\n{\\n  \\\"thought_signature\\\": \\\"Reasoning chain...\\\",\\n  \\\"score\\\": 7,\\n  \\\"reasoning_summary\\\": \\\"Brief justification\\\",\\n  \\\"decision\\\": \\\"APPLY/SKIP\\\",\\n  \\\"skills_overlap_percentage\\\": 65,\\n  \\\"matching_skills\\\": [],\\n  \\\"missing_skills\\\": []\\n}\" } ] } ], \"generationConfig\": { \"temperature\": 0.4, \"topK\": 40, \"topP\": 0.95, \"maxOutputTokens\": 2048, \"responseMimeType\": \"application/json\" } } }}",
                "options": {}
            },
            "name": "Gemini Scorer",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1100,
                -100
            ]
        },
        {
            "parameters": {
                "jsCode": "const text = $node[\"Gemini Scorer\"].json[\"candidates\"][0][\"content\"][\"parts\"][0][\"text\"];\n// Extract JSON from potential markdown code blocks\nconst jsonMatch = text.match(/\\{.*\\}/s);\nconst jsonStr = jsonMatch ? jsonMatch[0] : text;\nreturn JSON.parse(jsonStr);"
            },
            "name": "Parse Result",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1300,
                -100
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "number": [
                        {
                            "value1": "=$json[\"score\"]",
                            "operation": "largerEqual",
                            "value2": "=(($node[\"Get Preference\"].json[\"filters\"] || {}).minScore || 7) - 2"
                        }
                    ]
                }
            },
            "name": "Score >= Threshold?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1500,
                0
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-exp:generateContent?key={{$env.GEMINI_API_KEY}}",
                "authentication": "none",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ { \"contents\": [ { \"parts\": [ { \"text\": \"Job: \" + $node[\"Parse Google Jobs\"].json[\"job_position\"] + \" at \" + $node[\"Parse Google Jobs\"].json[\"company_name\"] + \"\\nMy Real Work History: \" + ($node[\"Get Preference\"].json[\"profile\"][\"workHistory\"] || \"\") + \"\\n\\nTASK: Tailor my resume based ONLY on my real history. No hallucination. Output raw text.\" } ] } ] } }}",
                "options": {}
            },
            "name": "Tailor Resume",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1700,
                -100
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-exp:generateContent?key={{$env.GEMINI_API_KEY}}",
                "authentication": "none",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ { \"contents\": [ { \"parts\": [ { \"text\": \"Job: \" + $node[\"Parse Google Jobs\"].json[\"job_position\"] + \" at \" + $node[\"Parse Google Jobs\"].json[\"company_name\"] + \"\\nMy Name: \" + ($node[\"Get Preference\"].json[\"profile\"][\"name\"] || \"\") + \"\\nMy Real Experience: \" + ($node[\"Get Preference\"].json[\"profile\"][\"workHistory\"] || \"\") + \"\\n\\nTASK: Write a short 3-paragraph cover letter based ONLY on my real history. Output raw text.\" } ] } ] } }}",
                "options": {}
            },
            "name": "Generate Cover Letter",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1950,
                -100
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{$env.CAREER_PILOT_API_URL}}/api/jobs",
                "authentication": "none",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "X-API-Key",
                            "value": "={{$env.CAREER_PILOT_API_KEY}}"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ { \"user_id\": $env.CAREER_PILOT_USER_ID, \"title\": $node[\"Parse Google Jobs\"].json[\"job_position\"], \"company\": $node[\"Parse Google Jobs\"].json[\"company_name\"], \"score\": $node[\"Parse Result\"].json[\"score\"], \"reasoning\": $node[\"Parse Result\"].json[\"reasoning_summary\"], \"url\": $node[\"Parse Google Jobs\"].json[\"job_link\"], \"status\": \"Found\", \"tags\": [\"#General\"], \"tailoredResume\": \"N/A\", \"coverLetter\": \"N/A\" } }}",
                "options": {}
            },
            "name": "Push to Dashboard (Low Score)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1700,
                150
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{$env.CAREER_PILOT_API_URL}}/api/jobs",
                "authentication": "none",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "X-API-Key",
                            "value": "={{$env.CAREER_PILOT_API_KEY}}"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ { \"user_id\": $env.CAREER_PILOT_USER_ID, \"title\": $node[\"Parse Google Jobs\"].json[\"job_position\"], \"company\": $node[\"Parse Google Jobs\"].json[\"company_name\"], \"score\": $node[\"Parse Result\"].json[\"score\"], \"reasoning\": $node[\"Parse Result\"].json[\"reasoning_summary\"], \"url\": $node[\"Parse Google Jobs\"].json[\"job_link\"], \"status\": \"Found\", \"tags\": [\"#General\"], \"tailoredResume\": $node[\"Tailor Resume\"].json[\"candidates\"][0][\"content\"][\"parts\"][0][\"text\"], \"coverLetter\": $node[\"Generate Cover Letter\"].json[\"candidates\"][0][\"content\"][\"parts\"][0][\"text\"] } }}",
                "options": {}
            },
            "name": "Push to Dashboard (High Score)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                2200,
                -100
            ]
        }
    ],
    "connections": {
        "Cron Trigger": {
            "main": [
                [
                    {
                        "node": "Get Preference",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Preference": {
            "main": [
                [
                    {
                        "node": "Google Jobs Search",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Jobs Search": {
            "main": [
                [
                    {
                        "node": "Limit",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Limit": {
            "main": [
                [
                    {
                        "node": "Parse Google Jobs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Google Jobs": {
            "main": [
                [
                    {
                        "node": "Gemini Scorer",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Analyze Image",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini Scorer": {
            "main": [
                [
                    {
                        "node": "Parse Result",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Result": {
            "main": [
                [
                    {
                        "node": "Score >= Threshold?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Score >= Threshold?": {
            "main": [
                [
                    {
                        "node": "Tailor Resume",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Push to Dashboard (Low Score)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Tailor Resume": {
            "main": [
                [
                    {
                        "node": "Generate Cover Letter",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Cover Letter": {
            "main": [
                [
                    {
                        "node": "Push to Dashboard (High Score)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}
