workflows/job-discovery.json
{
    "name": "CareerPilot AI: Advanced Job Discovery (Multi-Strategy)",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hour",
                            "interval": 6
                        }
                    ]
                }
            },
            "name": "Cron Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                0,
                0
            ]
        },
        {
            "parameters": {
                "url": "http://localhost:3000/api/preferences",
                "options": {}
            },
            "name": "Get Preference",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                220,
                0
            ]
        },
        {
            "parameters": {
                "url": "=https://api.scrapingdog.com/linkedinjobs?api_key=6973d7f40ee4debf6bf37950&type=search&job_title=(AI+Engineer)+OR+(Automation+Engineer)+OR+(MLOps+Engineer)+OR+(Machine+Learning+Engineer)+OR+(Full+Stack+Engineer+AI)+OR+(Backend+Engineer+AI)+OR+(Solutions+Engineer+AI)&location={{ ($item(0).$node[\"Get Preference\"].json[\"locations\"]?.[0] || \"United States\").replace(/ /g, \"+\") }}",
                "options": {}
            },
            "name": "LinkedIn Scraper",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                440,
                0
            ]
        },
        {
            "parameters": {
                "maxItems": 5,
                "keep": "firstItems"
            },
            "name": "Limit",
            "type": "n8n-nodes-base.limit",
            "typeVersion": 1,
            "position": [
                660,
                0
            ]
        },
        {
            "parameters": {
                "url": "=https://api.scrapingdog.com/linkedinjobs?api_key=6973d7f40ee4debf6bf37950&type=details&job_id={{ $json[\"job_id\"] }}",
                "options": {}
            },
            "name": "Fetch Full Job Description",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                880,
                0
            ]
        },
        {
            "parameters": {
                "model": "models/gemini-1.5-flash",
                "resource": "image",
                "urls": "={{ $node[\"LinkedIn Scraper\"].json[\"company_logo_url\"] }}",
                "text": "=Analyze the company logo and office vibe. Output 3 #culture tags.",
                "options": {}
            },
            "name": "Analyze an image",
            "type": "n8n-nodes-base.googleGemini",
            "typeVersion": 1,
            "position": [
                1100,
                100
            ]
        },
        {
            "parameters": {
                "model": "models/gemini-1.5-flash",
                "text": "=Analyze this job against my profile using a Multi-Strategy Weighted Scoring approach.\n\nMY PROFILE:\nTarget Role: {{ $item(0).$node[\"Get Preference\"].json[\"targetRole\"] }}\nCore Skills: {{ $item(0).$node[\"Get Preference\"].json[\"skills\"].join(', ') }}\nWork History: {{ $item(0).$node[\"Get Preference\"].json[\"workHistory\"] }}\n\nJOB POSTING:\nTitle: {{ $node[\"LinkedIn Scraper\"].json[\"job_position\"] }}\nCompany: {{ $node[\"LinkedIn Scraper\"].json[\"company_name\"] }}\nLocation: {{ $node[\"LinkedIn Scraper\"].json[\"job_location\"] }}\n\nFULL JOB DESCRIPTION:\n{{ $json[\"job_description\"] || $json[\"description\"] || \"Description not available.\" }}\n\nCOMPANY CULTURE ANALYSIS:\n{{ $node[\"Analyze an image\"].json.content.parts[0].text }}\n\nSCORING STRATEGY:\n1. **Semantic Title Check** (Immediate Rejection Filter):\n   - If title contains: \"Event\", \"Sales Rep\", \"Creative Assistant\", \"Retail\", \"Customer Service\"\n   - AND no technical keywords in JD → Score = 1, STOP analysis\n\n2. **Skills Overlap Analysis** (Primary Score):\n   - Exact match: \"Python\" in JD\n   - Related match: \"FastAPI\" -> Python, \"JS\" -> TS, \"Zapier\" -> n8n\n   - 0-20%: score 2-3 | 20-40%: score 4-5 | 40-60%: score 6-7 | 60%+: score 8-10\n\n3. **AI/Automation Bonus** (+1 to +2 points):\n   - JD mentions: LLMs, agents, RAG, embeddings, vector databases → +2\n   - JD mentions: automation, workflows, integrations, APIs → +1\n   - Company is: OpenAI, Anthropic, Google AI, n8n, Zapier → +2\n\n4. **Role Type Penalty** (-2 points):\n   - Sales Engineering, Marketing/Content, Manual QA.\n\n5. **Title-Description Mismatch Bonus** (+1 point):\n   - Irrelevant title BUT JD clearly requires \"Python, APIs, automation\".\n\nINSTRUCTIONS:\n1. Extract ALL technical skills from JD.\n2. Map to my skills.\n3. Calculate overlap.\n4. Apply bonuses/penalties.\n5. Output ONLY this JSON:\n{\n  \"thought_signature\": \"Step-by-step reasoning chain here...\",\n  \"score\": 7,\n  \"reasoning_summary\": \"Brief explanation for user\",\n  \"decision\": \"APPLY\",\n  \"skills_overlap_percentage\": 65,\n  \"matching_skills\": [\"Python\", \"Node.js\"],\n  \"missing_skills\": [\"AWS\"],\n  \"jd_extracted_skills\": [\"Python\", \"FastAPI\"],\n  \"red_flags\": []\n}",
                "options": {}
            },
            "name": "Message a model",
            "type": "n8n-nodes-base.googleGemini",
            "typeVersion": 1,
            "position": [
                1320,
                0
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "number": [
                        {
                            "value1": "={{ $json[\"score\"] }}",
                            "operation": "largerEqual",
                            "value2": "={{ $item(0).$node[\"Get Preference\"].json[\"minScore\"] || 7 }}"
                        }
                    ]
                }
            },
            "name": "Score >= Threshold?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1540,
                0
            ]
        },
        {
            "parameters": {
                "model": "models/gemini-1.5-flash",
                "text": "=Job: {{ $node[\"LinkedIn Scraper\"].json[\"job_position\"] }} at {{ $node[\"LinkedIn Scraper\"].json[\"company_name\"] }}\nMy Real Work History: {{ $item(0).$node[\"Get Preference\"].json[\"workHistory\"] }}\n\nTASK: Tailor my resume based ONLY on my real history. No hallucination. Output raw text.",
                "options": {}
            },
            "name": "Tailor Resume",
            "type": "n8n-nodes-base.googleGemini",
            "typeVersion": 1,
            "position": [
                1760,
                0
            ]
        },
        {
            "parameters": {
                "model": "models/gemini-1.5-flash",
                "text": "=Job: {{ $node[\"LinkedIn Scraper\"].json[\"job_position\"] }} at {{ $node[\"LinkedIn Scraper\"].json[\"company_name\"] }}\nMy Name: {{ $item(0).$node[\"Get Preference\"].json[\"userName\"] }}\nMy Real Experience: {{ $item(0).$node[\"Get Preference\"].json[\"workHistory\"] }}\n\nTASK: Write a short 3-paragraph cover letter based ONLY on my real history. Output raw text.",
                "options": {}
            },
            "name": "Generate Cover Letter",
            "type": "n8n-nodes-base.googleGemini",
            "typeVersion": 1,
            "position": [
                1980,
                0
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://localhost:3000/api/jobs",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "title",
                            "value": "={{ $node[\"LinkedIn Scraper\"].json[\"job_position\"] }}"
                        },
                        {
                            "name": "company",
                            "value": "={{ $node[\"LinkedIn Scraper\"].json[\"company_name\"] }}"
                        },
                        {
                            "name": "score",
                            "value": "={{ $node[\"Message a model\"].json[\"score\"] }}"
                        },
                        {
                            "name": "reasoning",
                            "value": "={{ $node[\"Message a model\"].json[\"reasoning_summary\"] }}"
                        },
                        {
                            "name": "url",
                            "value": "={{ $node[\"LinkedIn Scraper\"].json[\"job_link\"] }}"
                        },
                        {
                            "name": "tags",
                            "value": "={{ $node[\"Analyze an image\"].json[\"text\"].includes(\"#\") ? $node[\"Analyze an image\"].json[\"text\"].match(/#[\\w]+/g) : [\"#Innovation\"] }}"
                        },
                        {
                            "name": "tailoredResume",
                            "value": "={{ $node[\"Tailor Resume\"].json[\"text\"] }}"
                        },
                        {
                            "name": "coverLetter",
                            "value": "={{ $node[\"Generate Cover Letter\"].json[\"text\"] }}"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Push to Dashboard",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                2200,
                0
            ]
        }
    ],
    "connections": {
        "Cron Trigger": {
            "main": [
                [
                    {
                        "node": "Get Preference",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Preference": {
            "main": [
                [
                    {
                        "node": "LinkedIn Scraper",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "LinkedIn Scraper": {
            "main": [
                [
                    {
                        "node": "Limit",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Limit": {
            "main": [
                [
                    {
                        "node": "Fetch Full Job Description",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Full Job Description": {
            "main": [
                [
                    {
                        "node": "Analyze an image",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Message a model",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Analyze an image": {
            "main": [
                [
                    {
                        "node": "Message a model",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Message a model": {
            "main": [
                [
                    {
                        "node": "Score >= Threshold?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Score >= Threshold?": {
            "main": [
                [
                    {
                        "node": "Tailor Resume",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Tailor Resume": {
            "main": [
                [
                    {
                        "node": "Generate Cover Letter",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Cover Letter": {
            "main": [
                [
                    {
                        "node": "Push to Dashboard",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}